.logo {
  z-index: 10;
  padding: 2rem;
}
.header-content {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-family: "Arial Narrow";
  font-size: 2rem;
  gap: 30px;
  padding: 2rem;
  z-index: 5;
  position: relative;
}
.header-options {
  flex: auto;
  padding: 2rem;
  z-index: 4;
}
.options {
  position: relative;
}
.circle {
  z-index: -9;
  position: absolute;
}
.last {
  display: flex;
  margin-right: 10rem;
  flex: auto;
  justify-content: center;
  align-items: center;
}

.header-theme {
  background-color: rgb(230, 230, 250);
  height: 130px;
}
